.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;

  background-color: #f5f5f5;
}

.about-container {
  padding: 20px;
  background-color: #d5e3f1;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.about-container  h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-page p {
  font-size: 18px;
  margin: 10px 0;
  color: #442c2c;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: all .3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}
