:root {
  --primary: #00c2c7;
  --primary-dark: #009aa0;
  --primary-light: #e6fafa;

  --bg-main: #f2fbfb;
  --bg-card: #ffffff;

  --text-main: #1f2d2e;
  --text-muted: #6b8f91;

  --error: #ffa9aa;
}

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  backdrop-filter: blur(1px);
  position: relative;
  z-index: 1;
}

.auth-container {
  min-width: 400px;
  padding: 30px;

  border-radius: 14px;
  background-color: var(--bg-card);
  box-shadow: 0 10px 30px rgba(0, 194, 199, 0.15);
}

.auth-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin: 20px 0;
}

.form-group label {
  display: block;

  margin: 0px 0px 10px 5px;

  text-align: left;
  font-size: 18px;

  color: var(--text-muted);
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  
  font-size: 16px;
  border: 1px solid #cfeeee;
  border-radius: 8px;
  outline: none; 

  transition: all 0.3s ease;
}
.form-group input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(0, 194, 199, 0.25);
}

.form-group input.error {
  border-color: var(--error);
}

.error {
  color: var(--error);
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.server-error {
  color: var(--error);
  text-align: center;
  margin-bottom: 15px;
}

#login-btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

  font-size: 16px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(135deg, var(--primary), var(--primary-dark));
  color: #fff;

  transition: all 0.3s ease;
}

#login-btn:disabled {
  background: #b7dede;
  cursor: auto;
}

#login-btn:hover:not(:disabled) {
  box-shadow: 0 8px 10px rgba(0, 194, 199, 0.35);
}

.info-btn-auth {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  color: var(--primary-dark);
  transition: all 0.3s ease;
}

.info-btn-auth:hover {
  background-color: var(--primary-light);
}

@media (max-width: 450px) {
  .auth-container {
    min-width: auto;
  }
}