.message {
  margin: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
}

.message.sent {
  margin-left: auto;
  text-align: right;
  color: #fff;
  background-color: #007bff;
}

.message.received {
  margin-right: auto;
  text-align: left;
  background-color: #a6aeb7;
}

.message-time {
  display: block;
  font-size: 11px;
  color: #fff;
  margin-top: 5px;
}

.empty-message {
  text-align: center;
  color: #fff;
  padding: 20px;
  font-size: 16px;
}

.message-text {
  display: block;
  padding: 8px 0;
  font-size: 20px;
}

.message-status {
  font-size: 12px;
}
