.message {
  margin: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
}

.message.sent {
  margin-left: auto;
  text-align: right;
  color: #fff;
  background-color: #007bff;
}

.message.received {
  margin-right: auto;
  text-align: left;
  background-color: #a6aeb7;
}

.message-time {
  display: block;
  font-size: 11px;
  color: #fff;
  margin-top: 5px;
}

.empty-message {
  text-align: center;
  color: #fff;
  padding: 20px;
  font-size: 16px;
}

.message-text {
  display: block;
  padding: 11px 0;
  font-size: 20px;
}

.message-status {
  font-size: 12px;
}

.edited-status {
  margin-right: 5px;
  font-size: 12px;
  color: #212518;
}

.delete-btn {
  margin-right: 5px;
  padding: 3px 8px;
  background-color: #1c0709;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;

  transition: all 0.3s ease;
}
.edit-btn {
  margin-right: 5px;
  padding: 3px 8px;
  background-color: #a3a7a3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;

  transition: all 0.3s ease;
}

.unread-divider {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
  color: #666;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 5px;
}