* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0 15px;

  margin: 0;
  min-height: 100vh;
  background-color: #bff2f4;
  font-family: 'Merriweather';
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url('/public/background.jpg');
  background-repeat: repeat;
  background-size: auto;

  opacity: 0.05;
  pointer-events: none;
  z-index: 0;
}

button:hover {
  cursor: pointer;
}

:root {
  --primary: #00c2c7;
  --primary-dark: #009aa0;
  --primary-light: #e6fafa;

  --bg-main: #f2fbfb;
  --bg-card: #ffffff;

  --text-main: #1f2d2e;
  --text-muted: #6b8f91;

  --error: #ffa9aa;
}