.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  max-width: 90%;
  margin: 0px auto;

  border: 1px solid #d6ecff;
  background-color: #d6ecff;
}

.header {
  margin-bottom: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fbfdff;
  border-bottom: 1px solid #ccc;
}

.header h1 {
  font-size: 24px;
}

.header-user-name {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}
.info-btn-main {
  padding: 8px 16px;
  background-color: #8d8788;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;

  transition: all 0.3s ease;
}
.logout-btn {
  padding: 8px 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;

  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #c82333;
  cursor: pointer;
}

.content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.user-list-container {
  width: 300px;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
}

.search-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;

  transition: all 0.3s ease; 
}

.user-item:hover {
  background-color: #f0f0f0;
}

.user-item:last-child {
  border-bottom: none;
}

.user-name {
  flex-grow: 1;
}

.user-status.online {
  color: green;
  font-weight: bold;
}

.user-status.offline {
  color: gray;
}

.dialog-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dialog-header {
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.message-list {
  max-height: 450px;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.message-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
}

.send-button {
  padding: 5px 10px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #fbfdff;
  border-top: 1px solid #ccc;
}

.school-container, .github-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.school-icon {
  padding: 5px;
  width: 40px;
  height: 40px;
}

.github-icon {
  padding: 3px;
  width: 40px;
  height: 40px;
}

.school-name, .author-name, .year {
  font-size: 17px;
}

@media (max-width: 768px) {
  .main-page {
    max-width: 100%;
    background-color: #fafafa;
  }
  .content {
    flex-direction: column;
  }
  .user-list-container {
    width: 100%;
    display: block;
    background-color: #e4fffe;
  }
  .dialog-container {
    background-color: #ffe6e6;
  }
  .dialog-header{
    background-color: #fff;
  }
  .header {
    flex-wrap: wrap;
  }
  .header h1 {
    font-size: 20px;
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  .header-user-name {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 420px) {
  .footer {
    flex-wrap: wrap;
  }
  .school-container {
    flex-basis: 100%;
  }
}