.main-page {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;

  background-color: #d6ecff;
}

.header {
  margin-bottom: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fbfdff;
  border-bottom: 1px solid #ccc;
}

.header h1 {
  font-size: 24px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

.logout-btn {
  padding: 8px 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;

  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #c82333;
  cursor: pointer;
}

.user-list-container {
  margin: 20px 0;
}

.search-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.user-item:last-child {
  border-bottom: none;
}

.user-status.online {
  color: green;
  font-weight: bold;
}

.user-status.offline {
  color: gray;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #fbfdff;
  border-top: 1px solid #ccc;
}

.school-container, .github-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.school-icon {
  padding: 5px;
  width: 40px;
  height: 40px;
}

.github-icon {
  padding: 3px;
  width: 40px;
  height: 40px;
}

.school-name, .author-name, .year {
  font-size: 17px;
}